<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body  class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header('Product Index')}"></header>
<main>
    <div class="grid-container">
        <form class="filter" th:attr="action=@{/shop/index}" method="get">
            <input type="text" name="name" placeholder="Product Name..." th:attr="value=${name}">
            <input type="text" name="cat" placeholder="Category..." th:attr="value=${cat}">
            <input type="text" name="desc" placeholder="Description Name..." th:attr="value=${desc}">
            <button class="blue-button" type="submit">Search</button>
        </form>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="row : ${products}" th:object="${row}">
                <td>
                    <a class="blue-button" th:href="@{/shop/chart(id=*{id})}">add to cart</a>
                    <a class="blue-button" th:href="@{/shop/detail(id=*{id})}">Detail Info</a>
<!--                <a class="blue-button" th:href="@{/category/delete(id=*{id})}">Delete</a>-->
                </td>
                <td th:text="*{name}"></td>
                <td th:text="*{#numbers.formatCurrency(price)}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        <div th:text="|Page ${currentPage} of ${totalPages}|"></div>
                        <div th:if="${totalPages != 0}">
                            <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                               th:text="${loop}"
                               th:href="@{/shop/index(page=${loop})}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace = "~{layout :: javascript}"></th:block>

</body>
</html>